.card-title{
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  color: black;
  font-size: 18px;
}
.card{
  background-color: rgb(233, 148, 92);
}
.card :hover{
  background-color: rgb(236, 173, 131);
}
